<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ddairy.eyebrows">
    <!--
    The starting theme should be set to the splash screen theme as its used first.
    If the splash screen is not needed then it will use the theme provided on what to show next.
    Check the values/themes.xml to see the splash theme.
    -->
    <application
        android:exported="true"
        android:allowBackup="true"
        android:fullBackupOnly="true"
        android:icon="@mipmap/eyebrows_icon"
        android:roundIcon="@mipmap/eyebrows_icon_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Eyebrows.Splash"
        >
        <activity
            android:name=".EyebrowsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name="com.ddairy.eyebrows.util.notification.EyebrowBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
        </receiver>
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713"/>
    </application>
</manifest>